{% extends ':layout:base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            {% include '@Ecommerce/Front/Default/col-left.html.twig' %}
            {% if produits|length != 0 %}
            <div class="col-md-9">

                <ul class="thumbnails">
                    {% for produit in produits %}
                        <li class="col-md-4">
                            <div class="thumbnail">
                                <img src="{{ produit.image.path }}" alt="DevAndClick" width="470" height="310">
                                <div class="caption">
                                    <h4>{{ produit.nom }}</h4>
                                    <p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
                                    <a class="btn btn-primary" href="{{ path('produit', { 'id' : produit.id }) }}">Plus d'infos</a>
                                    {% if panier[produit.id] is not defined %}
                                        <a class="btn btn-success" href="{{ path('ajouter', { 'id' : produit.id }) }}">Ajouter au panier</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>


            </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            {% else %}
                Aucun produit
            {% endif %}

        </div>
    </div>
{% endblock %}